.signup{
    background-color: lightgrey;
    padding:20px 0px;
    text-align: center;
    
}
.text{
    margin-left: 20px;
    
    font-size: larger;
    font-weight: bold;
}
.email{
    margin-left: 20px;
    
}
.button{
    margin: 5px;
    
}
